body {
	background: #f1f1f1 !important;
}

.wp-reports-pane {

	margin-top: 20px;

	.box-container {
		background: white;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}

	.nav-box  {

		@extend .box-container;

		h2 {
			color: #73879C;
			font-size: 22px;
			padding: 10px 15px;
			margin: 0;
			border-bottom: 2px solid #E6E9ED;
		}

		li.group {
			padding: 5px 15px;
			background: #f1f1f1;
			color: #af9d9d;
		}
		
		a.disabled {
			cursor: not-allowed;
		}

	}

	.report-area {

		@extend .box-container;

		padding: 7px 15px;

		.top-bar {

			border-bottom: 2px solid #E6E9ED;

			.title {
				color: #73879C;
				font-size: 22px;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 38px;
			}

			#daterange {
				background: #fff;
				cursor: pointer;
				padding: 5px 10px;
				border: 1px solid #ccc;
			}

			.filter-toggle {
				line-height: 32px;
				margin-right: 10px;
			}

		}

		.highlights {

			padding: 15px;

			.highlight-item {

				border-left: 2px solid #ADB2B5;

				.title {
					font-size: 13px;
				}

				.value {
					font-size: 40px;
					line-height: 47px;
					font-weight: 600;
				}

				.description {
					font-weight: 400;
					font-size: 13px;
				}
			}

		}

		.report-content {
			padding: 15px;
		}

		table.report-table {

			overflow-x: auto;
			display: block;

			th {
				background: #34495e;
				color: #fff;

				a {
					color: #fff;
				}
			}

		}

		.filters-area {
			display: none;
			padding: 15px;
			border-bottom: 1px solid #E6E9ED;
			background: #FAFAFA;
		}
	}

}

.loading-indicator {

	margin: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;

	> div {
		background-color: #337ab7;
		height: 100%;
		width: 5px;
		margin: 0 1px;
		display: inline-block;
		-webkit-animation: spinner-stretchdelay 1.2s infinite ease-in-out;
		animation: spinner-stretchdelay 1.2s infinite ease-in-out;
	}

	.rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}

	.rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
}

@-webkit-keyframes spinner-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes spinner-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}